---
import faviconImage from '../shared/assets/favicon.webp';
import shareImage from '../shared/assets/header.webp';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title: string;
	description: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const shareImageURL = new URL(shareImage.src, Astro.url);

const ldJson = {
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Two Weeks Game 25 &#8212; конкурс по разработке игр",
  "alternateName": "TWG 25",
  "description": SITE_DESCRIPTION,
  "startDate": "2024-01-26",
  "endDate": "2024-02-12",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "organizer": {
    "@type": "Organization",
    "name": "Конкурс Two Weeks Game",
    "url": "https://twoweeksgame.ru"
  },
  "superEvent": {
    "@type": "EventSeries",
    "name": "Конкурс Two Weeks Game",
    "url": "https://twoweeksgame.ru"
  },
  "location": {
    "@type": "VirtualLocation",
    "url": Astro.site
  },
  "inLanguage": "ru-RU"
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={faviconImage.src} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={shareImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={shareImageURL} />

<!-- JSON for Linked Data -->
<script type="application/ld+json" set:html={JSON.stringify(ldJson)} is:inline />
